
    path = EMPRESS-IGNITION
    url = https://github.com/72X72/EMPRESS-IGNITION.git

[submodule "EMPRESS72"]
    path = EMPRESS72
    url = https://github.com/72X72/EMPRESS72.git

[submodule "EmpressThrone"]
    path = EmpressThrone
    url = https://github.com/72X72/EmpressThrone.git

[submodule "EmpressThrone72"]
    path = EmpressThrone72
    url = https://github.com/72X72/EmpressThrone72.git

[submodule "EmpressThronee"]
    path = EmpressThronee
    url = https://github.com/72X72/EmpressThronee.git
