<manifest xmlns:android=\http://schemas.android.com/apk/res/android\ package=\com.empress72.throne\><application android:label=\EMPRESS72\ android:icon=\@mipmap/ic_launcher\><activity android:name=\.MainActivity\><intent-filter><action android:name=ndroid.intent.action.MAIN\ /><category android:name=ndroid.intent.category.LAUNCHER\ /></intent-filter></activity></application></manifest>